
<!DOCTYPE html> 
<html lang="ko">
<head>

<title>아이보스 : 온라인마케팅, 인터넷마케팅 커뮤니티 > 키워드 조합기</title>

</head>
<body>

<p class="desc">＊ 키워드는 전체 최대 50개까지, 한 칸에 최대 30개 키워드까지 넣을 수 있습니다.</p></div><div>
<form name ="frm-keyword"  enctype='multipart/form-data'  >
<div class='text_box'>
    <div class='keyword_box'>
		<p>키워드1</p>
        <textarea name="keyword01" placeholder="키워드를 입력해주세요 (최대30개)"></textarea>
    </div>
    <div class='keyword_box'>
		<p>키워드2</p>
        <textarea name="keyword02" placeholder="키워드를 입력해주세요 (최대30개)"></textarea>
    </div>
    <div class='keyword_box'>
		<p>키워드3</p>
        <textarea name="keyword03" placeholder="키워드를 입력해주세요 (최대30개)"></textarea>
    </div>
    <div class='keyword_box'>
		<p>키워드4</p>
        <textarea name="keyword04" placeholder="키워드를 입력해주세요 (최대30개)"></textarea>
    </div>
</div>

<div class="config">
	<div class="all_chk">
		<h5 class="conf"><em></em>환경설정</h5>
 		<p class="option">
			<input type="checkbox" name="option" id="option" value="Y" >
 			<label for="option">키워드 사이 공백 추가</label>
 		</p>
		<a href="javascript:" class="btn_c_all" >전체선택</a>
		<a href="javascript:" class="btn_u_all" >전체해제</a>
	</div>
	<div class="comb_clause">
		<div class="inner">
			<div class="check_pannel_01" >
				<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0012' value='0012'/><label for='c0012'><span></span>1 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0013' value='0013'/><label for='c0013'><span></span>1 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0014' value='0014'/><label for='c0014'><span></span>1 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0021' value='0021'/><label for='c0021'><span></span>2 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0023' value='0023'/><label for='c0023'><span></span>2 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0024' value='0024'/><label for='c0024'><span></span>2 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0031' value='0031'/><label for='c0031'><span></span>3 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0032' value='0032'/><label for='c0032'><span></span>3 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0034' value='0034'/><label for='c0034'><span></span>3 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0041' value='0041'/><label for='c0041'><span></span>4 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0042' value='0042'/><label for='c0042'><span></span>4 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0043' value='0043'/><label for='c0043'><span></span>4 + 3</label></p>			</div>
			<div class="check_pannel_02" >
			    <p class='bd_R3'><input type='checkbox' name='combi[]' id='c0123' value='0123'/><label for='c0123'><span></span>1 + 2 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0124' value='0124'/><label for='c0124'><span></span>1 + 2 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0132' value='0132'/><label for='c0132'><span></span>1 + 3 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0134' value='0134'/><label for='c0134'><span></span>1 + 3 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0142' value='0142'/><label for='c0142'><span></span>1 + 4 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0143' value='0143'/><label for='c0143'><span></span>1 + 4 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0213' value='0213'/><label for='c0213'><span></span>2 + 1 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0214' value='0214'/><label for='c0214'><span></span>2 + 1 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0231' value='0231'/><label for='c0231'><span></span>2 + 3 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0234' value='0234'/><label for='c0234'><span></span>2 + 3 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0241' value='0241'/><label for='c0241'><span></span>2 + 4 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0243' value='0243'/><label for='c0243'><span></span>2 + 4 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0312' value='0312'/><label for='c0312'><span></span>3 + 1 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0314' value='0314'/><label for='c0314'><span></span>3 + 1 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0321' value='0321'/><label for='c0321'><span></span>3 + 2 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0324' value='0324'/><label for='c0324'><span></span>3 + 2 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0341' value='0341'/><label for='c0341'><span></span>3 + 4 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0342' value='0342'/><label for='c0342'><span></span>3 + 4 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0412' value='0412'/><label for='c0412'><span></span>4 + 1 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0413' value='0413'/><label for='c0413'><span></span>4 + 1 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0421' value='0421'/><label for='c0421'><span></span>4 + 2 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0423' value='0423'/><label for='c0423'><span></span>4 + 2 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0431' value='0431'/><label for='c0431'><span></span>4 + 3 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c0432' value='0432'/><label for='c0432'><span></span>4 + 3 + 2</label></p>			</div>
			<div class="check_pannel_03" >
			    <p class='bd_R3'><input type='checkbox' name='combi[]' id='c1234' value='1234'/><label for='c1234'><span></span>1 + 2 + 3 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c1243' value='1243'/><label for='c1243'><span></span>1 + 2 + 4 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c1324' value='1324'/><label for='c1324'><span></span>1 + 3 + 2 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c1342' value='1342'/><label for='c1342'><span></span>1 + 3 + 4 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c1423' value='1423'/><label for='c1423'><span></span>1 + 4 + 2 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c1432' value='1432'/><label for='c1432'><span></span>1 + 4 + 3 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c2134' value='2134'/><label for='c2134'><span></span>2 + 1 + 3 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c2143' value='2143'/><label for='c2143'><span></span>2 + 1 + 4 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c2314' value='2314'/><label for='c2314'><span></span>2 + 3 + 1 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c2341' value='2341'/><label for='c2341'><span></span>2 + 3 + 4 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c2413' value='2413'/><label for='c2413'><span></span>2 + 4 + 1 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c2431' value='2431'/><label for='c2431'><span></span>2 + 4 + 3 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c3124' value='3124'/><label for='c3124'><span></span>3 + 1 + 2 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c3142' value='3142'/><label for='c3142'><span></span>3 + 1 + 4 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c3214' value='3214'/><label for='c3214'><span></span>3 + 2 + 1 + 4</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c3241' value='3241'/><label for='c3241'><span></span>3 + 2 + 4 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c3412' value='3412'/><label for='c3412'><span></span>3 + 4 + 1 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c3421' value='3421'/><label for='c3421'><span></span>3 + 4 + 2 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c4123' value='4123'/><label for='c4123'><span></span>4 + 1 + 2 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c4132' value='4132'/><label for='c4132'><span></span>4 + 1 + 3 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c4213' value='4213'/><label for='c4213'><span></span>4 + 2 + 1 + 3</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c4231' value='4231'/><label for='c4231'><span></span>4 + 2 + 3 + 1</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c4312' value='4312'/><label for='c4312'><span></span>4 + 3 + 1 + 2</label></p>
<p class='bd_R3'><input type='checkbox' name='combi[]' id='c4321' value='4321'/><label for='c4321'><span></span>4 + 3 + 2 + 1</label></p>			</div>
		</div>
			 <div class="func">
		 	<ul>
				<li class="buttons">
					<a href="javascript:" class="btn_combi">조합하기</a>
				</li>
				<li class="buttons">
		 			<a href="javascript:" class="btn_guest">다운로드</a>
		 		</li>

<!--  -->

		 	</ul>
		 </div>

		</div>
	</div>
</div>

</form>

<h5>이용안내</h5>

<p>1. 키워드 1, 2, 3, 4 란에 조합할 키워드를 넣어주세요.<br>
＊ 키워드는 전체 50개까지, 한 칸에 최대 30개 키워드까지 넣을 수 있습니다.</p>

<p>2. 환경설정에서 원하시는 조합을 선택하세요.</p>

<p>3-1. [조합하기]를 누르시면 화면에서 결과를 확인할 수 있습니다. (최대 50,000개)</p>

<p>3-2. [다운로드]를 누르시면 조합 결과를 파일로 내려받을 수 있습니다. (* csv 파일로 제공됩니다.)</p>

<p>4. 각 키워드 입력 칸의 중복 키워드는 삭제됩니다.</p></div></div></div><div id="key_comb_guest">


	</body>
</html><!--0.086511850357056, VER20140318-->